extends ../layout.pug

block title
  title Договор оферта

block content
  .agreement.w-full.flex.justify-center.mt-16
    div(class="bg-white/50 md:backdrop-blur-sm md:rounded-lg md:border md:border-gray-200 p-4 md:p-8 md:shadow-lg w-5xl")
      h1.mb-3.text-3xl.font-bold.text-center Договор-оферта lra-dev.ru
      
      p.agreement__city.text-right.mb-1 г. Киров

      p ИП Лихачев Роман Андреевич, именуемый далее «Исполнитель» публикует настоящий Договор-оферту, далее «Договор», представляющий собой публичную оферту по смыслу ст. 437 Гражданского кодекса Российской Федерации в отношении заказчиков, приобретающих услуги Исполнителя посредством сайта lra-dev.ru/, далее «Заказчик».
      p Перед акцептом настоящего Договора-оферты просим Вас внимательно ознакомиться с изложенными ниже условиями пользования. Пользуясь сайтом Исполнителя, Вы понимаете изложенные в настоящем Договоре условия и обязуетесь соблюдать их. Если Вы не согласны с какими-либо пунктами Договора, либо они Вам не ясны, то Вы обязаны отказаться от использования Сайта Исполнителя. Пользование Сайтом Исполнителя без согласия с условиями настоящего Договора не допускается.
      p Настоящий Договор-оферта вступает в силу с момента его акцепта Заказчиком.

      h5 1. Термины и определения
      p 1.1. Для целей настоящего Договора используются следующие термины:
      p 1.2. Акцепт - полное и безоговорочное принятие Заказчиком условий настоящего Договора путем оформления заказа на услуги Исполнителя и оплаты услуг Исполнителя.
      p 1.3. Заказчик – физическое или юридическое лицо, использующее сайт Исполнителя с целью оформления заказа на услуги Исполнителя.
      p 1.4. Исполнитель – индивидуальный предприниматель Лихачев Роман Андреевич, ИНН: 434521371530, ОГРНИП: 322435000008810, адрес: Кировская область, Киров г, Студенческий проезд, 14, кв. 12, оказывающий услуги Заказчикам.
      p 1.5. Договор-оферта – настоящий Договор, заключаемый Сторонами в офертно-акцептной форме без подписания отдельного письменного документа.
      p 1.6. Сайт – сервис в сети интернет, расположенный по адресу lra-dev.ru/, содержащий информацию об оказываемых Исполнителем услугах.
      p 1.7. Стороны – Исполнитель и Заказчик совместно. 

      h5 2.	Акцепт Договора-оферты
      p 2.1. Заказчик, имеющий намерение воспользоваться услугами Исполнителя перед заказом услуг по Договору обязан акцептовать настоящий Договор-оферту, а также Политику конфиденциальности, расположенную по адресу: 
        a(href="/policy") lra-dev.ru/policy
        | .
      p 2.2. Акцептом Договора-оферты признается оформление заказа на конкретную услугу Исполнителя и оплата услуг Исполнителя. Акцепт также подтверждается ссылкой на настоящую оферту в назначении платежа при оплате.
      p 2.3. Не допускается акцепт настоящего Договора-оферты под условиями, либо с оговорками.
      p 2.4. Акцепт настоящего Договора-оферты возможен при одновременном соблюдении следующих условий:
      p 2.4.1 Внимательное прочтение Заказчиком всех условий настоящего Договора-оферты и Политики конфиденциальности.
      p 2.4.2 Согласие Заказчика соблюдать все условия настоящего Договора-оферты и Политики конфиденциальности.

      h5 3. Предмет Договора
      p 3.1. В соответствии с условиями настоящего Договора Исполнитель оказывает Заказчику услуги по аудиту, разработке и оптимизации сайтов, телеграм-ботов и иного программного обеспечения, а Заказчик принимает и оплачивает услуги Исполнителя. Аудит включает в себя проверку работоспособности программного обеспечения, выявление ошибок и недостатков, последующую проверку факта устранения ошибок и недостатков и иные сопутствующие услуги.
      p 3.2. Заказчик понимает и соглашается с тем, что перечень услуг Исполнителя, описанный в настоящем Договоре, является ориентировочным. Итоговое согласование предмета конкретной услуги, объема такой услуги, содержания и стоимости услуги всегда осуществляется индивидуально между Исполнителем и Заказчиком.

      h5 4. Оформление заказа на приобретение услуг Исполнителя
      p 4.1. Для целей заказа услуг Исполнителя Заказчик обязуется совершить следующие действия:
      p 4.1.1. Ознакомиться с описанием оказываемых Исполнителем услуг непосредственно в интерфейсе Сайта. 
      p 4.1.2. Ознакомиться с условиями оказания услуг, изложенными в настоящем Договоре-оферте.
      p 4.1.3. После изучения всей необходимой информации Заказчик для оформления заказа на услуги должен связаться с Исполнителем посредством контактных данных, указанных на Сайте и согласовать все основные условия оказания конкретной услуги.
      p 4.1.4. После согласования всех основных условий оказания услуги, Заказчик обязан произвести оплату услуг Исполнителя по реквизитам, указанным Исполнителем.
      p 4.1.5. При оформлении платежа Заказчик обязан указать в назначении платежа ссылку на настоящую оферту в качестве подтверждения ее акцепта.
      p 4.1.6. В случае, если Заказчику непонятна какая-либо информация об услугах Исполнителя, порядке и условиях их оказания, он обязан предварительно обратиться к Исполнителю за соответствующими разъяснениями. В случае, если Заказчик уже заказал и оплатил услугу, в дальнейшем он не вправе ссылаться на то, что ему были непонятны условия оказания услуг.
      p 4.1.7. После оплаты услуги, услуга будет оказана Заказчику в соответствии с условиями настоящего Договора и дополнительными (индивидуальными) договоренностями Сторон.
      p 4.2. Стороны пришли к соглашению о том, что оказание услуг, прямо не согласованных Сторонами, не входит в стоимость услуг.

      h5 5. Порядок оказания и приемки услуг
      p 5.1. Заказчик согласен с тем, что Исполнитель вправе в любой момент отказаться от оказания услуг в одностороннем порядке, аннулировав заказ Заказчика и вернув денежные средства (за вычетом фактически оказанных услуг). В этом случае Заказчик не вправе требовать от Исполнителя выплаты какой-либо компенсации, убытков и т.п.
      p 5.2. В случае наличия недостатков в оказанных услугах, Исполнитель обязуется по требованию Заказчика устранить недостатки в разумный срок.
      p 5.3. Подписание актов приемки услуг по настоящему Договору не осуществляется. 
      p 5.4. Фактом приемки услуг Исполнителя по настоящему Договору считается факт отсутствия претензий со стороны Заказчика в течение 10 (десяти) дней с момента завершения оказания услуг. В случае наличия претензий к услугам Исполнителя, Заказчик обязан направить свои претензии в указанный десятидневный срок. По истечении указанного десятидневного срока, услуги Исполнителя считаются принятыми, и Заказчик не вправе предъявлять какие-либо претензии к Исполнителю.

      h5 6. Политика возвратов
      p 6.1. Заказчик вправе до момента завершения оказания услуг в соответствии с положениями действующего законодательства, в частности, в соответствии со ст. 782 Гражданского кодекса РФ, отказаться от оказания услуг при условии оплаты уже оказанных на момент отказа услуг и фактически понесенных расходов на момент отказа.
      p 6.2. Для возврата денежных средств, Заказчику необходимо направить в любой форме соответствующее требование о возврате денежных средств по контактным данным, указанным непосредственно на Сайте.
      p 6.3. Срок рассмотрения требования о возвррате денежных средств Заказчику составляет 10 (десять) рабочих дней.

      h5 7. Интеллектуальная собственность
      p 7.1. Заказчик признает, что Сайт, его интерфейс и содержание (включая, но не ограничиваясь элементами дизайна, текстом, графическими изображениями, иллюстрациями, видео, скриптами, программами, музыкой, звуками и другими объектами и их подборками, связанными с Сайтом) защищены авторским правом, товарными знаками, патентами и иными правами, которые принадлежат Исполнителю или иным законным правообладателям.
      p 7.2. Заказчик не вправе воспроизводить, копировать, изменять, уничтожать, перерабатывать (включая выполнение любого перевода или локализации), продавать, сдавать в прокат, опубликовывать, скачивать, иным образом распространять Сайт либо его компоненты, декомпилировать или иным образом пытаться извлечь исходный код компонентов Сайта, являющихся программным обеспечением, а также изменять функционал Сайта без предварительного письменного согласия Исполнителя.
      p 7.3. Заказчик не вправе удалять и/или изменять какую-либо информацию, размещенную Исполнителем в рамках Сайта, в том числе знаки охраны авторского права и средств индивидуализации.
      p 7.4. Если иное явным образом не установлено в настоящем Договоре, ничто в настоящем Договоре не может быть рассмотрено как передача исключительных прав на Сайт и/или его компоненты Заказчику.

      h5 8. Документооборот
      p 8.1. Электронный документооборот между Сторонами по настоящему Договору имеет юридическую силу равную юридической силе обычного письменного документооборота.
      p 8.2. Электронный документооборот имеет юридическую силу исключительно при условии, что обмен сообщениями или документами осуществляется Сторонами посредством адресов электронной почты или иных каналов связи, прямо предусмотренных настоящим Договором, либо дополнительными соглашениями к нему.
      p 8.3. Настоящий Договор заключается Сторонами в офертно-акцептной форме без подписания отдельного письменного документа.
      p 8.4. В случае поступления сообщений, документов по каналам связи, не предусмотренным настоящим Договором, либо дополнительными соглашениями к нему, Сторона, получившая такие сообщения или документы вправе их игнорировать, в этом случае сообщение, либо документ считаются недоставленными и не полученными Стороной.
      p 8.5. Каждая из Сторон самостоятельно несет ответственность за ограничение круга лиц, которые имеют доступ к электронным каналам связи, предусмотренным настоящим Договором. В случае утраты доступа к электронному каналу связи, Сторона обязана немедленно известить об этом другую Сторону и несет ответственность в случае отсутствия такого извещения.
      p 8.6. Документы, отправленные по электронному каналу связи одной Стороной, считаются полученными другой Стороной в день их фактического получения, а сроки, течение которых зависит от времени получения документа Стороной, начинают исчисляться со следующего дня. 
      p 8.7. Электронные сообщения и документы, в соответствии с настоящим Договором, в полной мере могут быть использованы для подтверждения заключенных и совершенных сделок, правоотношений Сторон, в том числе могут быть использованы в качестве доказательств в правоохранительных органах, третейском суде, судебных органах, при рассмотрении споров по гражданско-правовым сделкам и т.п., а также подтверждают их действительность и юридическую силу.

      h5 9. Ответственность Сторон
      p 9.1. За ненадлежащее исполнение, либо неисполнение обязательств, предусмотренных настоящим Договором, Стороны несут ответственность в соответствии с действующим законодательством.
      p 9.2. В соответствии с настоящим договором, Исполнитель несет ответственность за качество оказанных услуг, которое должно соответствовать условиям настоящего договора. В случаях, когда услуги оказаны Исполнителем с отступлением от условий договора, Заказчик вправе потребовать от Исполнителя безвозмездного устранения недостатков в течение срока, указанного в настоящем Договоре.
      p 9.3. Заказчик понимает и соглашается с тем, что результат оказания услуг может не соответствовать ожиданиям Заказчика. 
      p 9.4. Исполнитель не несет ответственности за нарушение условий оказания услуг в случае, если просрочка вызвана виновными действиями Заказчика, в том числе в случае отсутствия со Стороны Заказчика необходимых согласований, не предоставления необходимой информации, доступов и т.д.
      p 9.5. Исполнитель не несет ответственности за последствия, произошедшие по вине третьих лиц, не привлеченных Исполнителем к оказанию услуг, в том числе в случае если Заказчик самостоятельно без согласования с Исполнителем привлекал третьих лиц к оказанию отдельных услуг, совпадающих с предметом услуг по настоящему Договору, либо самостоятельно вмешивался в процесс оказания услуг.
      p 9.6. Исполнитель не несет ответственности в случае невозможности оказания услуг, либо задержки сроков оказания услуг по причине сбоев в программном обеспечении, сервисах, поисковых системах, сайтах и т.п., принадлежащих третьим лицам, за действия которых Исполнитель не отвечает.

      h5 10. Обстоятельства непреодолимой силы
      p 10.1. Стороны не несут ответственности за полное или частичное невыполнение обязательств по настоящему Договору, обусловленное обстоятельствами непреодолимой силы, возникшими помимо воли Сторон и которые нельзя предвидеть или предотвратить, а именно: землетрясение, наводнение, прочие стихийные бедствия, война, гражданская война, блокада, эмбарго, забастовка, пандемия, эпидемия, принятие органами государственной власти актов, препятствующих исполнению договора.
      p 10.2. Сторона, которая не исполняет свои обязательства вследствие обстоятельств непреодолимой силы, должна направить в течение десяти календарных дней письменное извещение другой Стороне о препятствии и его влиянии на исполнение обязательств по Договору.

      h5 11. Решение спорных вопросов
      p 11.1. Все возникшие между Сторонами споры разрешаются путем переговоров.
      p 11.2. Стороны пришли к соглашению, что претензионный (досудебный) порядок урегулирования споров, возникших в результате исполнения настоящего Договора, является для них обязательным.
      p 11.3. Претензии по настоящему Договору могут направляться Сторонами по электронной почте.
      p 11.4. Стороны договорились, что срок ответа на претензию составляет не более 15 календарных дней.
      p 11.5. В случае возникновения судебного спора, спор передается на рассмотрение в суд по месту нахождения Исполнителя.

      h5 12. Конфиденциальность
      p 12.1. Для целей настоящего Договора термин «конфиденциальная информация» включает без ограничения любую информацию, прямо или косвенно затрагивающую Стороны.
      p 12.2. Настоящий Договор, информация и документация, получаемые в ходе реализации Договора будут считаться конфиденциальными, и Стороны обязуются не разглашать их без письменного согласия другой Стороны.
      p 12.3. Стороны обязуются без предварительного письменного согласия другой Стороны не раскрывать прямо или косвенно какому-либо третьему лицу любую информацию о другой Стороне.
      p 12.4. Конфиденциальная информация может быть распространена Стороной исключительно в случаях, предусмотренных действующим законодательством, в частности, в случае поступления запроса от уполномоченных государственных органов.

      h5 13. Действие договора
      p 13.1. Настоящий Договор вступает в силу с момента оплаты услуг Исполнителя.
      p 13.2. Настоящий Договор действует до полного выполнения Сторонами своих обязательств по Договору.
      p 13.3. Настоящий Договор-оферта, включая любые его условия, может быть в любое время изменен Исполнителем в одностороннем порядке. При этом условия Договора-оферты в отношении услуг, уже оплаченных на момент изменения Договора, продолжают действовать в предшествующей редакции.

      h5 14. Прочие условия
      p 14.1. Стороны согласовали, что во всем ином, что не предусмотрено настоящим договором, будут применяться нормы действующего законодательства.
      p 14.2. Настоящий договор содержит весь объем соглашений между сторонами в отношении предмета настоящего договора, которые отменяют и делают недействительными все другие обязательства или представления, которые могли быть приняты или сделаны сторонами в устной или письменной форме до заключения настоящего договора.

      h5 15. Реквизиты Исполнителя
      p ИП Лихачев Роман Андреевич
      p ИНН: 434521371530
      p ОГРНИП: 322435000008810
      p Адрес: Кировская область, Киров г, Студенческий проезд, 14, кв. 12

      br/
      p Электронная почта: lihachevra@yandex.ru

      br/
      p Расчетный счет: 4080 2810 4200 0076 7424
      p Банк: ООО "Банк Точка"
      p БИК: 044525104
      p Kорр. счет: 3010 1810 7453 7452 5104