extends ../layout.pug

block title
  title Политика конфиденциальности

block content
  .agreement.w-full.flex.justify-center.mt-16
    div(class="bg-white/50 md:backdrop-blur-sm md:rounded-lg md:border md:border-gray-200 p-4 md:p-8 md:shadow-lg w-5xl")
      h1.mb-3.text-3xl.font-bold.text-center Политика конфиденциальности

      p Индивидуальный предприниматель Лихачев Роман Андреевич, именуемый далее «Администрация», публикует настоящую Политику конфиденциальности, регулирующую вопросы обработки персональных данных Пользователей сайта lra-dev.ru, далее – «Пользователь» на следующих условиях:
      
      h5 1. Информация об операторе
      p 1.1. Индивидуальный предприниматель Лихачев Роман Андреевич, ИНН: 434521371530, ОГРНИП: 322435000008810.

      h5 2. Акцепт Политики
      p 2.1. Используя Сайт, а также передавая свою персональную информацию Администрации, Пользователь подтверждает, что он ознакомился и согласен с условиями Политики конфиденциальности.
      p 2.2. Пользователь не вправе использовать Сайт, а также передавать свою персональную информацию Администрации без ознакомления и без безусловного согласия со всеми пунктами настоящей Политики конфиденциальности.
      p 2.3. В случае, если Пользователь не согласен с какими-либо условиями Политики конфиденциальности, он обязан отказаться от использования Сайта.

      h5 3. Согласие на обработку персональных данных
      p 3.1. Акцептуя настоящую Политику, Пользователь тем самым выражает свое согласие на обработку Администрацией персональных данных Пользователя.
      p 3.2. Пользователь не вправе передавать какие-либо персональных данные Администрации при отсутствии согласия на обработку его персональной информации.
      p 3.3. Пользователь дает согласие на обработку следующих персональных данных:
      p 3.3.1. фамилия, имя, отчество,
      p 3.3.2. номер контактного телефона,
      p 3.3.3. адрес электронной почты,
      p 3.3.4. любые иные персональные данные, которые Пользователь дополнительно передаст Администрации независимо от того, будут ли переданы данные по его собственной инициативе или переданы по запросу Администрации.
      p 3.4. Администрация вправе хранить историю об осуществленных Пользователем обращениях.
      p 3.5. Обработка персональных данных Пользователя осуществляется вплоть до отзыва Пользователем согласия на обработку его персональных данных.

      h5 4. Перечень действий с персональными данными и способы обработки
      p 4.1. Администрация вправе совершать следующие действия с персональными данными Пользователя: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, обезличивание, блокирование, удаление и уничтожение.
      p 4.2. Администрация обрабатывает персональные данные автоматизированным и неавтоматизированным способами, с использованием средств вычислительной техники и без использования таких средств.
      p 4.3. Администрация вправе обрабатывать как все персональные данные Пользователя, так и часть из них по своему усмотрению и в зависимости от того, какая информация будет предоставлена Пользователем Администрации.

      h5 5. Обработка Администрацией дополнительной информации
      p 5.1. Администрация вправе обрабатывать информацию о Пользователе, которая не носит персонифицированного характера, в том числе:
      p 5.1.1. Данные о технических средствах (устройствах), технологическом взаимодействии с Сайтом, в том числе IP-адрес хоста, вид операционной системы пользователя, тип браузера или иной программы, с помощью которой осуществляется доступ к сайту, географическое положение, поставщик услуг интернета, технические характеристики оборудования и программного обеспечения.
      p 5.1.2. Время посещения Сайта и последующие действия Пользователя на Сайте.
      p 5.1.3. Информация, автоматически получаемая с помощью технологии cookies.

      h5 6. Принципы обработки персональных данных
      p 6.1. Администрация при обработке персональных данных соблюдает следующие принципы:
      p 6.1.1. Законность, справедливость и прозрачность. Персональные данные обрабатываются законно, справедливо и прозрачно. Любая информация о целях, методах и объемах обработки персональной информации излагается максимально доступно и просто.
      p 6.1.2. Ограничение цели. Данные собираются и используются исключительно в тех целях, которые заявлены в настоящей Политике.
      p 6.1.3. Минимизация данных. Администрация не собирает персональную информацию в большем объеме, чем это необходимо для целей, указанных в настоящей Политике.
      p 6.1.4. Точность. Персональная информация, которая является неточной удаляется либо подлежит исправлению по требованию Пользователя.
      p 6.1.5. Ограничение хранения. Персональная информация хранится сроком не более, чем это необходимо для целей обработки.
      p 6.1.6. Целостность и конфиденциальность. При обработке данных Пользователей Администрация обеспечивает защиту персональных данных от несанкционированной или незаконной обработки, уничтожения и повреждения.

      h5 7. Цели обработки персональных данных
      p 7.1. Обработка персональных данных осуществляется Администрацией для следующих целей:
      p 7.1.1. Исполнение Администрацией обязательств перед Пользователем в части оказания услуг.
      p 7.1.2. Доведение до Пользователя персонифицированной информации о деятельности Администрации.
      p 7.1.3. Предоставление Пользователю возможности использовать Сайт.
      p 7.1.4. Информирование Пользователя о возможностях, связанных с использованием Сайта.
      p 7.1.5. Поддержание обратной связи между Администрацией и Пользователем.
      p 7.1.6. Анализ статистики использования Сайта Пользователями.
      p 7.1.7. Улучшение Сайта.

      h5 8. Соблюдение прав Пользователя по стандартам GDPR
      p 8.1. Пользователь в соответствии со стандартами Общего регламента по защите данных Европейского союза (GDPR) вправе в любой момент запросить у Администрации подтверждение факта обработки его данных, место и цель обработки, категории обрабатываемых персональных данных, каким третьим лицам персональные данные раскрываются, период, в течение которого данные будут обрабатываться, а также уточнить источник получения Администрацией персональной информации и требовать ее исправления.
      p 8.2. Пользователь в соответствии со стандартами Общего регламента по защите данных (GDPR) вправе в любой момент воспользоваться правом на забвение, подразумевающим удаление персональной информации Пользователя по его запросу, в этом случае при прекращении обработки персональной информации Пользователя Администрация не сможет предоставить Пользователю возможность использовать Сервис.
      p 8.3. Пользователь в соответствии со стандартами Общего регламента по защите данных (GDPR) вправе воспользоваться правом на переносимость данных, а именно потребовать от Администрации предоставить бесплатно электронную копию персональной информации другой компании.

      h5 9. Рассылка информации маркетингового и рекламного характера
      p 9.1. Пользователь дает свое согласие Администрации на направление ему информации о ее деятельности, проводимых акциях и иных мероприятиях путем направления информации по адресу электронной почты Пользователя.
      p 9.2. Пользователь согласен с тем, что рассылка Пользователю информации, предусмотренной настоящим разделом, может быть осуществлена сторонними службами рассылок по поручению Администрации.

      h5 10. Обеспечение конфиденциальности персональных данных
      p 10.1. Администрация гарантирует конфиденциальность персональных данных Пользователей. Передача персональных данных третьим лицам может быть осуществлена исключительно в случаях, предусмотренных настоящей Политикой, либо положениями действующего законодательства, а также с согласия Пользователя.
      p 10.2. Администрация обязуется предпринимать все необходимые организационные и технические меры для защиты персональной информации о Пользователе от неправомерного или случайного доступа третьих лиц, уничтожения, изменения, блокирования, копирования, распространения, а также иных неправомерных действий третьих лиц.
      p 10.3. Администрация применяет комплекс правовых, организационных и технических мер по обеспечению безопасности персональных данных для обеспечения конфиденциальности персональных данных и их защиты от неправомерных действий.
      p 10.4. Пользователь понимает и соглашается с тем, что использование персональной информации Администрацией может включать в себя использование персональной информации сотрудниками Администрации, а также партнерами и контрагентами Администрации, которые помогают Администрации в управлении Сайтом.
      p 10.5. Пользователь понимает, что Администрация может предоставлять третьим лицам обобщенную статистику о Пользователях Сайта для целей проведения статистического анализа, повышения эффективности работы Сайта.

      h5 11. Изменение Политики конфиденциальности
      p 11.1. Администрация оставляет за собой право в любой момент внести изменения в любой из пунктов Политики конфиденциальности.
      p 11.2. Пользователи обязаны регулярно отслеживать изменения в настоящей Политике конфиденциальности на предмет возможных изменений. В случае, если после внесения изменений в настоящую Политику Пользователь продолжает использовать сайт, считается, что Пользователь согласился с принял все изменения.