footer(class="flex justify-start md:justify-center mt-auto w-full p-2 text-gray-400")
  nav
    ul(class="flex gap-2 md:gap-4 flex-col md:flex-row")
      li
        a(class='.nav-button', href='/agreement') Договор оферта
      li(class="h-4 w-px bg-gray-400 mt-1 hidden md:block")
      li
        a(class='.nav-button', href='/privacy') Политика конфиденциальности