header(class="absolute flex justify-end w-full p-4 z-1000")
  nav
    ul.flex.gap-8
      li
        a(class='.nav-button', href='/') Главная
      //- li
        //- a(class='.nav-button', href='/contacts') Контакты